<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>star list</title>
    <link rel="icon" href="http://fate2.oss-cn-shanghai.aliyuncs.com/likefeed-favicon.png" type="image/png" />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_735662_w20vparyhl.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="true" src="https://www.googletagmanager.com/gtag/js?id=UA-111452095-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-111452095-9');
    </script>
</head>

<body>
    <img src="https://fate2.oss-cn-shanghai.aliyuncs.com/pool/20190810172014.png" width="100">
    <h0>star-list latest 500</h0>
    <style>
        body{
            background: rgb(62, 62, 62);
            color: rgb(216, 216, 216);
        }
    .date{
        font-size: 10px;
        color:gray;
    }
    .url *{
        font-size: 10px;
        color: gray;
    }
    a {
        color: rgb(82, 126, 150);
    }
    a:visited{
        color: gray;
    }

    .title {
    }
    </style>

    {% for star in stars %}
    <div>
        <span class="date">{{star.created_on}}</span>
        <span class="title"><a href="{{star.get_url()}}" target="_blank">{{star.get_title()}}</a></span>
        <span class="url"> <a href="{{star.get_url()}}" target="_blank">{{star.get_url()}}</a></span>
    </div>

    {% endfor %}
    <script>
    </script>

<footer style="font-size: 10px;">
    Anonymous TMP LOG DEBUG PAGE, INTERNAL LIMITED. DONT SHARE or SPREADING.<br>
    ©️2019 fatecore.com 
</footer>
</body>

</html>