<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="源市场审核" />
    <title>订阅市场管理</title>
    <link rel="icon" href="http://fate2.oss-cn-shanghai.aliyuncs.com/likefeed-favicon.png" type="image/png" />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='irreader/target-search.css') }}" />
    <script src="{{ url_for('static', filename='irreader/target-search.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_735662_w20vparyhl.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="true" src="https://www.googletagmanager.com/gtag/js?id=UA-111452095-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-111452095-9');
    </script>
</head>
<body>
    <pre>
id    :{{target.id}}
name  :{{target.name}}
desc  :{{target.desc}}
url   :<a href="{{target.source_url}}">{{target.source_url}}</a> 
icon-f:<iframe id="iframe_icon" src="{{target.icon}}" ></iframe>
icon  :<img src="{{target.icon}}" width=14 height=14></img>
type  :{{target.type}}(0-网页,1-RSS)
csser :{{target.csser}}
    </pre>

    <style>
    button{
        font-size: 20px;
        padding: 10px;
    }
    #iframe_icon{
        height: 100px;
        width: 100px;
    }

    #iframe_web{
        width: 100vw;
        height: 500px;
    }
    </style>
    <button onclick="yes_no(1)">通过</button>
    <button onclick="yes_no(2)">拒绝</button>
    <iframe id="iframe_web" src="{{target.source_url}}"></iframe>
<script>
function yes_no(new_state){
    $.post("/irreader/target-judge/", {target_id:"{{target.id}}", state:new_state})
    setTimeout(() => {
        location.reload()
    }, 200);
}
</script>
    

</body>

</html>