<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="订阅市场，用户提交的订阅列表，精选RSS源，专为irreader用户打造！燥起来！" />
    <title>订阅市场</title>
    <link rel="icon" href="http://fate2.oss-cn-shanghai.aliyuncs.com/likefeed-favicon.png" type="image/png" />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='irreader/target-search.css') }}" />
    <script src="{{ url_for('static', filename='irreader/target-search.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_735662_w20vparyhl.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="true" src="https://www.googletagmanager.com/gtag/js?id=UA-111452095-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-111452095-9');
    </script>
</head>

<body>

    <div id="container">
        <div id="head">
            <input type="text" placeholder="搜索..." placeholder-en="Search..." id="search_input" />
            <a href="likefeed://add-custom" target="_blank" en="Add Custom Source">添加自定义源</a>
        </div>
        <div id="main">
            <div id="message"></div>
            <div id="content">

            </div>
            <div id="pagger">
                <span id="prev_page" onclick="on_click_page_navi('prev')" en="Prev">上一页</span>
                <span id="page_number">0</span>
                <span id="next_page" onclick="on_click_page_navi('next')" en="Next">下一页</span>
            </div>
        </div>
        <div id="side">
            <ul>
                <!-- <li cat="popular" en="Popular">热门</li> --> 
                <!-- <li cat="featured" en="Featured" >推荐</li>-->
                <li cat="latest" en="Latest" sel="true">最新</li>
                <li cat="podcast" en="Podcast">播客<i class="iconfont icon-radio" cat="podcast"></i></li>
                <!--<li cat="internet" en="Internet">互联网/科技</li>-->
                <li cat="technology" en="Technology">互联网/科技</li>
                <li cat="programming" en="Programming">编程技术</li>
                <li cat="infosec" en="Cyber Security">信息安全</li>
                <li cat="startup" en="Startup and Product">创业和产品</li>
                <li cat="design" en="Design">设计</li>
                <li cat="media" en="Media">电影图书</li>
                <li cat="science" en="Science">学术科研</li>
                <li cat="hardware" en="Hardware">消费电子</li>
                <li cat="entertainment" en="Entertainment">娱乐</li>
                <li cat="second" en="Second Element">二次元</li>
                <li cat="news" en="News">时事新闻</li>
                <li cat="people" en="People">人物和组织</li>
                <li cat="management" en="Finance and Management">财经管理</li>
                <li cat="game" en="Game">游戏</li>
                <li cat="nsfw" >NSFW</li>
                <li cat="culture" en="History and Culture">文化生活</li>
                <li cat="travel" en="Travel">旅行户外摄影</li>
                <li cat="community" en="Community">社区</li>
                <li cat="trade" en="Trade">购物交易</li>
                <li cat="download" en="Download">资源下载</li>
                <li cat="blog" en="Indie Blog">独立博客</li>
                <li cat="tool" en="Tool">工具</li>
                <li cat="other" en="Others">其他</li>
            </ul>
        </div>
    </div>

    <div style="display: none;">
        <a class="target-item" id="target_item_template">
            <div class="target-item-icon">
                <img src="http://fate2.oss-cn-shanghai.aliyuncs.com/likefeed-source-enpty.png" />
            </div>
            <div class="target-item-right">
                <div class="target-item-name">
                    赤色的爱
                </div>
                <div class="target-item-second-line">
                    <i class="iconfont icon-radio is-podcast" title="该源为播客节目" title-en="Podcast"></i>
                    <span class="target-item-sub" title="订阅我的人数" title-en="Subscribe number"><i class="iconfont icon-popularity"></i> <span class="target-item-subnum">123</span></span>
                    <span class="target-item-author"></span>
                    <span class="dynamic" title="我是动态订阅" title-en="Dynamic">D</span>
                </div>
                <div class="target-item-description">
                    它是红中带刺的，火辣妖艳，吞噬。
                </div>
            </div>
        </a>

    </div>
</body>

</html>