<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    {% block title %}
    {% if cur_subreddit is defined and cur_subreddit.id != 1%}
    <title>{{ cur_subreddit.name }} - {{ config.BRAND }}</title>
    <meta name="description" content="{{ cur_subreddit.desc }}">
    {% else %}
    <title>{{ config.BRAND }}</title>
    <meta name="description" content="{{ config.BRAND_DESC }}">
    {% endif %}

    {% endblock %}
    <meta name="keywords" content="kongproject">

    <!-- Bootstrap core CSS -->
    <!-- <link href="css/bootstrap.css" rel="stylesheet"> -->
    <link rel="icon" href="http://fate2.oss-cn-shanghai.aliyuncs.com/kong/kong_favicon.png" type="image/x-icon">
    {% block css %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/iconfont.css') }}">

    {% if cur_subreddit is defined %}
    <link rel="stylesheet" href="{{ cur_subreddit.cssfile }}">
    {% endif %}
    {% endblock %}
    <script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111452095-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-111452095-7');
    </script>


    {% if cur_subreddit is defined %}
    <style>
        {{ cur_subreddit.csstext }}
    </style>
    {% endif %}

</head>

<body>
    <div id="top_projects_bar">
        {% if subreddits is defined %}
        {% for subreddit in subreddits[:10] %}
        {% if subreddit.id != 1 %}
        <a class="top_projects_bar_item" href="/p/{{ subreddit.name }}">{{ subreddit.name }}</a>
        {% else %}
        <a class="top_projects_bar_item" href="/">首页</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div id="header_bar">

        {% if cur_subreddit is defined and cur_subreddit.id != 1%}
        <a id="header_img_wrapper" href="/p/{{ cur_subreddit.name }}">
            <img src="{{ cur_subreddit.icon }}" />
        </a>
        <a id="header_project_name" class="brand" href="/p/{{ cur_subreddit.name }}">
            {{ cur_subreddit.name }}
        </a>
        {% else %}
        <a id="header_img_wrapper" href="/">
            <img src="{{ config.BRAND_ICON }}" />
        </a>
        <a id="header_project_name" class="brand" href="/">
            {{config.BRAND}}
        </a>
        {% endif %}

        <!-- tabs -->
        <!-- <ul id="header_tabs" class="font-high">
                <li class="header-tab rank-type" r="all">
                    {% if cur_subreddit is defined and cur_subreddit.id != 1%}
                    <a href="/p/{{ cur_subreddit.name }}">ALL</a>
                    {% else %}
                    <a href="/">ALL</a>
                    {% endif %}
                </li>
                <li class="header-tab rank-type" r="pop">
                    {% if cur_subreddit is defined and cur_subreddit.id != 1%}
                    <a href="/p/{{ cur_subreddit.name }}/?r=pop">POP</a>
                    {% else %}
                    <a href="/?r=pop">POP</a>
                    {% endif %}
                </li>
            </ul> -->

        <div class="flex-push"></div>
        <ul id="user_corner">
            {% if user is not defined or user == None %}
            <!-- 未登录时 -->
            <a href="{{ url_for('frontends.register', next=request.path) }}">注册</a>
            <a href="{{ url_for('frontends.login', next=request.path) }}">登录</a>
            {% else %}
            <!-- 登录后 -->

            <a href="{{ url_for('users.home_page', username=user.username) }}">
                {{ user.username }}</a>

            <a href="{{ url_for('my.my_status') }}">
                    [用户中心]</a>
            <span>
                {{ user.get_thread_karma() }} <span class="karma-star">★</span></span>

            <a href="{{ config.ROOT_URL }}/logout">退出</a>
                
            {% endif %}
        </ul>
    </div>
    <div id="fixed_position_devider"></div>
    <div id="project_intro_bar">

    </div>


    <div>
            <div id="messages">
                {% for category, msg in get_flashed_messages(with_categories=true) %}
                <div class="message-item flash-{{ category }} alert alert-dismissable alert-{{ category }} flash-banner">
                    {{ msg }}
                </div>
                {% endfor %}
            </div>

            <div id="main_content">
                {% block content %}

                {% endblock %}
            </div>

            <div class="row" class="" id="footer-row">
                <div class="col-lg-12">
                </div>
            </div>

    </div>


        <!-- JavaScript -->
        <!-- TODO google ana -->

        <!-- Let's use a CDN -->
        {% block scripts %}

        {% endblock %}
    <footer>
        <style>
            footer{
                text-align: center;      
            }
            footer, footer a{
                font-size: 13px;
                color: #999;
            }
        </style>
        &copy; 2019 fatecore.com <br/>

        <a href="http://www.miitbeian.gov.cn/">浙ICP备17048489号-26</a>

    </footer>
</body>

</html>