{% extends "base.html" %}
{% block content %}
<div id="login_box">
    <h1 class="row text-center login-title">Login</h1>
    <div class="account-wall">
        <!-- <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt=""> -->
        {% from "macros.html" import render_field %}
        <form method="POST" action="." class="form-signin">
            {{ form.csrf_token }}
            <input type="hidden" name="next" value="{{ next }}" />
            {{ render_field(form.username, class="form-control", 
                    placeholder="username", autofocus="") }}
            {{ render_field(form.password, class="form-control", placeholder="password") }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                登录</button>
            <!--
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                -->
        </form>
    </div>
    <div class="row">
            <a href="{{ url_for('frontends.register') }}" class=" text-center new-account" >创建账号 </a>
    </div>
</div>
{% endblock %}