{% extends "base.html" %}

{% block content %}
<div id="login_box">
    {% from "macros.html" import render_field %}
    <form method="POST" action="." class="form bs-example form-horizontal">
      {{ form.csrf_token }}
      <input type="hidden" name="next" value="{{ next }}" />
      {{ render_field(form.username, class="form-control", placeholder="username", autofocus="") }}
      <br>
      {{ render_field(form.email, class="form-control", placeholder="email") }}
      <br>
      {{ render_field(form.password, class="form-control", placeholder="password") }}
      <br>
      {{ render_field(form.confirm, class="form-control", placeholder="confirm password") }}
      <br>
      {{ render_field(form.accept_tos, class="form-control") }}
      <a href="/threads/FateCore/47/User-Protocal/" target="_blank">《用户服务协议》</a> <br /> <br />
      <img id="secode" src="{{ url_for('security.secode')}}?_t=">
      {{ render_field(form.secode, class="form-control", placeholder="验证码", autocomplete="off") }}

      <br>

      <button type="submit" value="Register" class="btn btn-primary">注册</button>
    </form>
</div>
{% endblock %}