/*  
 *  Here will be all of kong's custom CSS. Let's keep this
 *  fairly organized!
 */
:root {
    --theme-color: rgb(215, 10, 133);
}

* {
    margin:0px;
    padding: 0px;
    /* transition: 100ms all linear; */
}

.brand{
}
  

body {
    font-size: 14px;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover{
    text-decoration:underline;
    color: var(--theme-color);
}

.btn{
    padding: 5px 10px;
    border: 1px solid #333;
    color: #333;
    text-decoration: none;
    font-size: 12px;
}

.btn:hover{
    background: #333;
    color: white;
    text-decoration: none;
}

.form_field{
    display: grid;
    grid-template-rows: 30px auto;
    padding-right: 50px;
}

input{
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #333;
    text-decoration: none;
}

textarea{
    height: 200px;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #333;
    text-decoration: none;
    resize:none 
}

.mlinput-big {
    height: 500px;
}

.row{
    margin: 10px 0px;
}


.markdown>*{
    margin: 10px 0px;
}

.markdown a{
    color: var(--theme-color);
}

#top_projects_bar{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-wrap: wrap;
    background: rgb(232, 232, 232);
    border-bottom: 1px solid rgb(196, 196, 196);
    width: 100vw;
    height: 25px;
}

.top_projects_bar_item{
    margin: 0px 10px ;
    color: rgb(67, 65, 65);
    font-size: 16px;
}

.top_projects_bar_item:hover{
    background: white;
    text-decoration: none;
}

.flex-push{
    flex-grow: 1;
}


#header_bar{
    display: flex;
    align-items: flex-end;
    /* border-bottom: 1px solid rgb(235, 235, 235); */
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 1px rgb(162, 162, 162);
}

#header_img_wrapper img {
    max-height: 60px;
}

#header_project_name{
    color: #333;
    margin-left: 10px;
    font-size: 16px;
}
#user_corner{
    padding-right: 50px;
    
}
#user_corner>*{
    margin: 0px 10px;
}

#fixed_position_devider{
    margin-top: 0px;
    height: 0px;
}

.message-item{
    margin: auto;
    width: 80vw;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 5px;
}

#main_content{
    display: grid;
    grid-template-columns: 1fr 300px;
}

.channel-header{
    /* margin-left: 60px; */
    text-align: center;
}

.left-bar{
    margin-left: 30px;
}

.left-bar img{
    max-width: calc(100vw - 400px);
}

.listing-row {
    display: flex;
    padding: 10px 20px;
}

.listing-vote-box{
    margin: 5px;
}
.listing-thumbnail-box{
    margin: 5px;
}

.listing-text{
    margin: 5px;
}
.listing-title-text{
    font-size: 18px;
    font-weight: normal;
}

.listing-row[pin="1"] .listing-title-text{
    color: blueviolet;
}

.post-listing-meta{
    font-size: 13px;
    color: rgb(148, 148, 148);
}

.post-listing-meta a{
    color: rgb(148, 148, 148);
}

.pager{
    display: flex;
}

.pager a{
    margin: 10px;
}

#right_bar img{
    max-width: 80%;
}

#foot_corner, #foot_corner *{
    font-size: 12px;
    color: #999;
}

#comment_box{
    margin-left: 60px;
}

.comment-form-parent{
    display: flex;
    align-items: flex-end;
}

.comment-form-parent>*{
    margin: 10px;
}


.nested-comment-text-box{
    margin: 0px 10px;
    position: relative;
    top: 10px;
}


#login_box{
    margin: auto;
}

#login_box input{
    margin: 10px 10px;

    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #333;
    text-decoration: none;
    width: 100px;
}

.form-box {
    margin: auto;
    padding-left: 60px;
}


@media only screen and (max-width: 600px) {
    #main_content{
        display: grid;
        grid-template-columns: 1fr;
    }

    .left-bar img{
        max-width: calc(100vw - 100px);
    }
}
