{% extends "home.html" %}

{% block title %}
<title>修改密码 - {{ config.BRAND }}</title>
{% endblock %}

{% block left %}
<div class="container">
    <h1>用户中心</h1>

    {% from "macros.html" import render_field %}
    <form method="POST" action="." class="form-signin">
        {{ form.csrf_token }}
        {{ render_field(form.oldPassword, class="form-control", placeholder="Old password", autofocus="") }}
        <br />
        {{ render_field(form.newPassword, class="form-control", placeholder="New one") }}
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            确定</button>
        <!--
            <label class="checkbox pull-left">
                <input type="checkbox" value="remember-me">
                Remember me
            </label>
            -->
    </form>

</div>
{% endblock %}

{% block user_dashboard %}
   <div>

   </div>
{% endblock %}
