{% extends "home.html" %}

{% block title %}
<title>我的用户中心 - {{ config.BRAND }}</title>
{% endblock %}

{% block left %}
<div class="container">
    <h1>用户中心</h1>

    <pre>
        <h2>OWM业务</h2>
用户类型：<span>{{ data.owm_user_type }}</span>
VIP剩余时间: {{ data.owm_left_day }}天

<a href="/threads/OpenWebMonitor/47/buy-vip/">[充值VIP]</a>

<a href="/my/alter-password/">[修改密码]</a>
    </pre>

</div>
{% endblock %}

{% block user_dashboard %}
   <div>

   </div>
{% endblock %}
