{% extends "home.html" %}

{% block left %}
  <div >
  <br>
  <div class="col-lg-10 thread-submit-box">
  {% from "macros.html" import render_field %}
  <form method="POST" action="." class="form bs-example form-horizontal">
    {{ form.csrf_token }}
    {{ render_field(form.title, class="form-control ", placeholder="", autofocus="") }}
    <br>
    {{ render_field(form.path, class="form-control ", placeholder="") }}
    <br>
    {{ render_field(form.link, class="form-control ", placeholder="") }}
    <br>
    {{ render_field(form.text, class="form-control  ", placeholder="") }}
    <br>
    {{ render_field(form.order, class="form-control  ", placeholder="") }}
    <br>
    {{ render_field(form.use_markdown, class="form-control") }}
    <br>
    <img id="secode" src="{{ url_for('security.secode')}}?_t=" >
    {{ render_field(form.secode, class="form-control input", placeholder="验证码", autocomplete="off") }}
    <br>
    <button type="submit" value="Submit" class="btn btn-primary">提交（需审核）</button>
  </form>
  </div>
  </div> 
{% endblock %}

