{% extends "home.html" %}

{% block left %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-9 user-profile-box">
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <h4>User: <u>{{ current_user.username }}</u></h4>
                    <p class="trophy-room">
                    Threads: <span class="red">{{ current_user.threads.all()|length() }}</span>, 
                    Comments: <span class="red">{{ current_user.comments.all()|length() }}</span><br> 
                    </p>
                    <i class="glyphicon glyphicon-envelope"></i>&emsp;{{ current_user.email }}
                    <br>

                    <u><h4 class="profile-label">Recent issues</h4></u>
                    {% for thread in current_user.threads.all()[-7:]|reverse  %}
                        <p>
                        <a class="profile-listing" href="{{ config.ROOT_URL }}/threads/{{ thread.subreddit.name }}/{{ thread.id }}/{{ thread.title|truncate(100)|replace(' ', '_') }}">{{ thread.title }}</a>
                            <br>
                            <span class="profile-listing-inline"> posted 
                            <a href="{{ config.ROOT_URL }}/threads/{{ thread.subreddit.name }}/{{ thread.id }}/{{ thread.title|truncate(100)|replace(' ', '_') }}">
                                {{ thread.pretty_date() }}</a> in 
                            <a href="/p/{{ thread.subreddit.name }}">{{ thread.subreddit.name }}</a>
                            </span>
                        </p>
                    {% endfor %}
                        <!--<p>see more ...</p>-->

                    <u><h4 class="profile-label">Recent comments</h4></u>
                    {% for comment in current_user.comments.all()[-7:]|reverse %}
                        <p>
                        <span class="profile-listing">{{ comment.text }}</span> 
                        <span class="profile-listing-inline">
                        <a href="{{ config.ROOT_URL }}/threads/{{ comment.thread.subreddit.name }}/{{ comment.thread.id }}/{{ comment.thread.title|truncate(100)|replace(' ', '_') }}">{{ comment.pretty_date() }}</a>
                        </p>
                        </span>
                    {% endfor %}
                        <!--<p>see more ...</p>-->
                    <br>
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block user_dashboard %}
    <h3 class="dash-text highlight">Thread Karma: <span class="red">{{ current_user.get_thread_karma() }}</span></h3>
    <h3 class="dash-text highlight">Comment Karma: <span class="red">{{ current_user.get_comment_karma() }}</span></h3>
    <br>
{% endblock %}
