* {
    margin: 0;
    padding: 0;
    outline: none;
}

html{
    font-size: 14px;
    font-family: system-ui;
}

a{
    text-decoration: none;
    color: #666;
}

#container{
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 70px 1fr;
}

#head{
    padding: 20px 30px;
    grid-column: 1/3;
}

#head>input{
    padding: 5px;
    width: 300px;
    margin-right: 10px;
}

#message{
    margin-left:30px;
    color: #999;
    font-size:10px;
}

#content{
    display: flex;
    flex-wrap: wrap;
    padding-left:10px;
    min-height:405px;
    align-content: flex-start;
}

.target-item{
    display: grid;
    grid-template-columns: auto 150px;
    margin: 5px 10px;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 8px;
    height: 71px;
}

.target-item:hover{
    background: #EEE;
}

.target-item:active{
    font-weight: bold !important;
}

.target-item-icon{
}

.target-item-icon>img{
    height: 65px;
    width: 65px;
    border-radius: 8px;
}

.target-item-right{
    margin-left: 10px;
}

.target-item-name{
    overflow: hidden;
    text-overflow: ellipsis;    
    white-space:nowrap; 
}

.target-item-description{
    color: #999;
    font-size: 12px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.target-item-second-line{
    color: #999;
    font-size: 10px;
    font-weight: bold;
}

.target-item-author{
}

.target-item-sub{

}

.target-item .iconfont{
    font-size:14px;
}

.is-podcast{
    display: none;
}

#side{
    margin-right: 50px;
}

#side>ul{
    list-style-type: none;
}

#side li{
    color: #999;
    cursor: pointer;
    margin: 5px 0px;
    font-size:13px;
}

#side li:hover{
    text-decoration: underline;
}

#side li[sel="true"]{
    background: #EEE;
    /* font-weight: bold; */
    color: #666;
}

#pagger{
    margin: 20px 10px;
    margin-top:20px;
    text-align: center;
    font-size: 12px;
}

#next_page[works="false"]{
    /*text-decoration: line-through;*/
    color: #CCC;
}

#prev_page[works="false"]{
    /*text-decoration: line-through;*/
    color: #CCC;

}

#pagger>span{
    margin: 0px 10px;
    color: #999;
    cursor: default;
}

#pagger>span[works="true"]{
    cursor: pointer;
}
#pagger>span[works="true"]:hover{
    text-decoration: underline;
}

.dynamic{
    padding: 0px 3px;
    background: #fff;
    border: 1px solid #979797;
    border-radius: 3px;

}