{% extends "home.html" %}

{% block left %}
  <div class="col-lg-10 thread-submit-box">
  <h4 class="all-subreddits-label">List of all subreddits.</h4>
  {% for subreddit in subreddits %}
        <li><a href="/p/{{ subreddit.name}}/">{{ subreddit.name }}</a></li>
  {% endfor %}
  </div>
{% endblock %}

