{% extends "home.html" %}

{% block left %}
<div class="form-box">
  <h2 class="thread-submit-title">设置Project</h2>
  <br/>
  {% from "macros.html" import render_field %}
  <form method="POST" action="." class="form bs-example form-horizontal">
    {{ form.csrf_token }}
    {{ render_field(form.name, class="form-control input", placeholder="", autofocus="") }}
    <br>
    {{ render_field(form.icon, class="form-control input", placeholder="") }}
    <br>
    {{ render_field(form.desc, class="form-control mlinput", placeholder="") }}
    <br>
    {{ render_field(form.intro, class="form-control mlinput", placeholder="") }}
    <br>
    {{ render_field(form.submit_note, class="form-control mlinput", placeholder=""  ) }}
    <br>
    {{ render_field(form.csstext, class="form-control mlinput", placeholder="") }}
    <br>
    <button type="submit" value="Submit" class="btn btn-primary">提交（需管理员）</button>
  </form>
</div>
{% endblock %}